@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400&display=swap');



.container{
  /*border:0.5px solid black;*/
  min-height: 200px;
  width: 375px;
  margin: 0;
  padding:0;
  display:flex;
  flex-direction:column;
}

.header{
  display:flex;
  justify-content:space-between;
  margin-right:8.5px;
  margin-top:4px;
}

.title{
  margin-top:3px;
  font-size:15px; 
  font-weight:300;
  margin-left:6px;
  font-family: 'Catamaran', sans-serif;
  padding:0;
}

.content{
  display:flex;
  flex-direction:column;
  padding:0;
  margin:-3px;
  margin-left:6px;
  
}
#result{
  font-size: 40px;
  margin-top:6px;
  padding:0;
  font-family: "Times New Roman", Times, serif;
}

.progress{
  margin-top:-17px;

  border:2px solid black;
  height:30px;
  width:335px;
  position:relative;
}

.inner{
  position:absolute;
  width:50%;
  height:30.5px;
-webkit-animation: filler 2s ease-in-out;
    -moz-animation: filler 2s ease-in-out;
    animation: filler 2s ease-in-out;
}

@-webkit-keyframes filler {
    0% {
        width:0;
    }
}
@-moz-keyframes filler {
    0% {
        width:0;
    }
}
@keyframes filler {
    0% {
        width:0;
    }
}

.percent{
  display:flex;
  width:300px;
}
p{
  margin-top:1px;
  font-size: 19px;
}


#p-bias{
  position:relative;
  font-size:16px;
  /*left: 140.5px; 335 times the percent as a decimal minus 27px*/
}

#hundred{
  position: relative;
  left: 285px;
}

#description{
  margin-right:10px;
  margin-top:4px;
  font-family:'Catamaran', sans-serif;
  font-weight:400;
  line-height:20px;
}
